/*Google font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	/*Short hand property*/
	/*padding top: 0.8 rem;
	padding -left: 0.8rem;
	padding-bottom: 0.8 rem;
	padding-right: 0.8rem;*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*Margin vs Padding*/
/*Margin is best used when creating space between elemets*/
/*Padding is best used when creating space between element's border and its content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	list-style: none;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
}

footer {
	padding: 12px;
	text-align: center;
}

footer span {
	margin-left: 10px;
}

#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color: white;
}

#pre-footer div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

div .pre-footer, div h3 {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

