/*CSS Syntax*/
/*A CSS rule-set consists of a selector and a declaration block*/

/*Selector determines which element will the styling be applied to*/

/*Type Selector - targets element with the specified type or tag name*/
h1 {
/*Declaration block*/
/*color - property (The selected styling attribute to be modified in a given selector*/
/*yellow - value (The modified value of the selected styling attribute */
	color: yellow;
	text-align: center;
	font-size: 2rem;
}

h2 {
	font-size: 2rem;
}

/*Universal selector (lowest priority)- we use if we want to target all the elements*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector (highest priority)*/
#zuitt-motto {
	letter-spacing: 5px;
	font-style: italic;
}

h3 {
	letter-spacing: 25px !important;
}

/*Class Selector - targets elements according to its class attribute*/

.offering-item {
	text-transform: uppercase;
}

ol {
	list-style: none;
}

/*Attribute Selector - targets elements with specified element attribute; used to target elements with a certain attribute*/
/*tagname[attribute]*/
input[required] {
	border-width: 2px; 
	border-style: solid;
	border-color: navy;
	width: 50%;
}

/* !important - this property overrrides the priority according to location and selector type */

/*Specificity Rule*/
/*
The following order prioritizes styles from highest to lowest priority (according to selector)
1. ID Selector
2. Class Selector
3. Attribute Selector
4. Type Selector
5. Universal Selector
*/

/*Specificity Rule*/
/*
The following order prioritizes styles from highest to lowest priority (according to location)
1. Inline Styling
2. Internal Styling
3. External Styling
*/

/*CSS Combinators*/

/*Adjacent Sibling Selector (+) -  targets elements immediately following another element, which must be its sibling and located right after each other in the HTML Structure*/

/*selector + selector* - can use combination of different types of selectors*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*Descendant Selector (Whitespace)* - targets any element that is a descendant of anotheer element/
/*selector selector*/

#bootcamp-learning-list li {
	color: #f056a6;
}

/*General Sibling Selector (~) - targets all element that follow another elemnent and share the same parent*/
/*selector ~ selector*/

h2 ~ a, a {
	text-decoration: none;
}

/*Child Selector - targets all elements that are the children of a specified element*/
/*selector > selector*/
body > section > form > label {
	color: rgb(255, 0, 128);
}

body {
	background-color: darkolivegreen;
}

nav {
	background-color: lightyellow;
}

/*selector:hover pseudo class*/
a:hover {
	background-color: yellow;
}

div {
	display: inline-block;
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

form {
	text-align: center;
	background-color: grey;
	border: 3px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {

	background-color: goldenrod;
	color: blue;
	border: 0;
	border-radius: 15px;
}