#external {
	color: yellow;
}

* {
	font-family: Arial;
	font-size: 20px;
}

h1 {
	font-size: 2rem;
}

#heading {
	text-transform: uppercase;
}
.languages {
	background-color: green;
}
li[onresize] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 60%;
}

img + ul {
	list-style: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
h4 ~ p {
	text-align: center;
}
section > ul > li {
	letter-spacing: 25px;
}

